
snippet com "comment"
{# $1 #}
endsnippet

snippet block "template block"
{% $1 %}
endsnippet

snippet if "if block"
{% if $1 %}
endsnippet

snippet endif "end if block"
{% endif %}
endsnippet

snippet for "for block"
{% for $1 %}
endsnippet

snippet endfor "end for block"
{% endfor %}
endsnippet
